nav{
    // position: fixed !important;
    // z-index: 5;
    background-color: #0b1426FF !important;
    a{
        color: white !important;
    }
    .search{
        background-color: #0b1426FF;
        border: 1px solid #fff;
        padding: 3px 90px 3px 5px;
        border-radius: 20px;
        input{
            background-color: transparent !important;
            border: none !important;
            outline: none !important;
            color: white !important;
          }
        &:hover{
            border: 2px solid #1199faFF !important;
           
        }
    }
    .dropdown-menu{
        li{
            a{    
                color: black !important;
                font-weight: 500;
            }
        }
    }
    .nav-button{
        background-color: #11d0fa !important;
        border: none;
    }
    .market{
        font-weight: 500;
    }
}
.collection{
    
    .card{

            .geeks {
                width: 300px ;
            height: 300px;
            overflow: hidden;
            margin: 0 auto;
            // border: 2px solid #1199faFF;
            &:hover{
                transform: scale(1.2);
                transition: 0.5s;
                
            }
        }

        
       
   
        border: none!important;
        position: relative;
        // height: 230px !important;
         
        .art{
            img{
                border-radius: 50%;
            }
            display: flex;
            position: absolute;
            bottom: 0;
        }
    }
   
}
.sideb{
    .droprow{
        background-color: #0b1426FF;
        z-index: 5;
        position: sticky ;
        top: 0px;
        
    }
    .droprow2{
        background-color: #0b1426FF;
        z-index: 5;
        position: sticky ;
        top: 100px;     
    }
    .dropdown-g{
        .dropdown-toggle{

            background-color: transparent !important;
            border-radius: 30px !important;
            margin-right:  20px !important;
        }
        .btn-group{
            // padding: 10px;
            background-color: transparent !important;
            border-radius: 20px;
            // margin-right:  20px !important;
            // border-color: transparent !important;
            
        }
    }
}
.sidebar{
    .sidebarcolomn{
        // position: fixed !important;
    }
    .maincard{
        .mainimg{
            border-top-right-radius:15px ;
            border-top-left-radius:15px ;
        }
        background-color: #0b1426FF !important;
        border: none !important;
        
        .card-body{
            background-color: white;
            border-bottom-right-radius:15px ;
            border-bottom-left-radius:15px ;

        }
    }
    color: black !important;
    .sidecards{
        
        img{
            width: 40px;
            border-radius: 50% !important;
        }
        span{
        color: black !important;
        }
        .tickmark{
            width: 20px;
            border-radius: 50% !important;

        }
    }
    .cronos{
        color: black !important;
    }
    .gnJkew{
        background-color: #0b1426FF !important;
        
    }
    .lkTtqM:hover{
        background-color: #949ba4FF !important;
        color:none !important;

    } 
    .sc-pyfCe:hover{
        background-color: #949ba4FF !important;
        color: none !important;
    }
    .menu{
        height: 350px;
        overflow-y: scroll!important;
        &::-webkit-scrollbar {
            width: 10px !important;
            background-color: darkgrey;
            
          }
        //   &::-webkit-scrollbar-track {
        //     color: red;

        //   }
        //   &::-webkit-scrollbar-thumb {
        //     color:  #1199faFF;
        //   }
    }
}

.footer{
    .helpcenter{
        a{
            text-decoration: none !important;
            color: white !important;
        }

    }
}
.cronos{
    .cardbottom{
        display: flex;
        flex-direction: row ;
        .cardbottom1{
            display: flex;
            // flex-direction: c !important;
            .name{
                display: flex;
                align-items: center;
            }
            // .buybutton{
                //     align-items: flex-end !important;
                // }
                
            }
            .btn1{
                background-color: transparent   !important;
                color:#1199faFF;
                border: 2px solid #1199faFF;
                font-weight: 500;
                padding: 8px 15px; 
            }
            .btn2{
                background-color: #1199faFF   !important;
                color:white;
                border: 2px solid #1199faFF;
                font-weight: 500;
                padding: 8px 15px; 
                &:hover{
                    background-color: #1199faFF !important;
                    color: white    !important;
                }
            }
        }
    .card11{
        border: none;
        display: flex;
        flex-direction: row;
        code{
          color: black;
        }
        span{
          color: #999DA4;
        }
        .border{
          border-radius: 50%;
        }
      }
    background-color: white;
    color: black;
    .back{
        a{
            text-decoration: none !important;
        }
    }
    .dollar{
        font-size: 20px;
    }
    .vl {
        border-left: 1px solid grey;
        height: 80px;
      }
      .btn:hover{
        background-color: transparent !important;
        color: #0DCAF0 !important;

      }
}




// #####################################################
body{
    background-color: #0b1426FF !important;
    color: white !important;;
}


@media screen and (max-width: 600px){
    .sideb{
        .sidebarcolomn{
            display: none !important;
        }
    }
    .search{
        display: flex;
        background-color: #0b1426FF;
        border: 1px solid #fff;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 2px 50px 2px 5px !important;
        border-radius: 20px;
        input{
            background-color: transparent !important;
            border: none !important;
            outline: none !important;
            color: white !important;
          }
        &:hover{
            border: 2px solid #1199faFF !important;
           
        }
    }
    
        .navbar-toggler{
            background-color: white !important;;
        }
    .navbar-nav{
        
        .btn{
                    .active{
                        padding: 3px 10px !important;
                    }
                }
    }
    
    
}