nav{
    background-color: #0b1426FF !important;
    a{
        color: white !important;
    }
    .search{
        background-color: #0b1426FF;
        border: 1px solid #fff;
        padding: 3px 90px 3px 5px;
        border-radius: 20px;
        input{
            background-color: transparent !important;
            border: none !important;
            outline: none !important;
            color: white !important;
          }
        &:hover{
            border: 2px solid #1199faFF !important;
           
        }
    }
    .dropdown-menu{
        li{
            a{    
                color: black !important;
                font-weight: 500;
            }
        }
    }
    .nav-button{
        background-color: #11d0fa !important;
        border: none;
    }
    .market{
        font-weight: 500;
    }
}
.collection{
    
    .card{

            .geeks {
                width: 300px ;
            height: 300px;
            overflow: hidden;
            margin: 0 auto;
            &:hover{
                transform: scale(1.1);
                border: 2px solid #1199faFF;
            }
        }

        
       
   
        border: none!important;
        position: relative;
        // height: 230px !important;
         
        .art{
            img{
                border-radius: 50%;
            }
            display: flex;
            position: absolute;
            bottom: 0;
        }
    }
   
}
.sidebar{
    .sidebarcolomn{
        // position: fixed !important;
    }
    .maincard{
        .mainimg{
            border-top-right-radius:15px ;
            border-top-left-radius:15px ;
        }
        background-color: #0b1426FF !important;
        border: none !important;
        
        .card-body{
            background-color: white;
            border-bottom-right-radius:15px ;
            border-bottom-left-radius:15px ;

        }
    }
    color: black !important;
    .sidecards{
        
        img{
            width: 40px;
            border-radius: 50% !important;
        }
        span{
        color: black !important;
        }
        .tickmark{
            width: 20px;
            border-radius: 50% !important;

        }
    }
    .cronos{
        color: black !important;
    }
    .gnJkew{
        background-color: #0b1426FF !important;
        
    }
    .lkTtqM:hover{
        background-color: #949ba4FF !important;
        color:none !important;

    } 
    .sc-pyfCe:hover{
        background-color: #949ba4FF !important;
        color: none !important;
    }
    .menu{
        overflow-y: scroll!important;
    }
}

.footer{
    .helpcenter{
        a{
            text-decoration: none !important;
            color: white !important;
        }

    }
}
.cronos{
    background-color: white;
    color: black;
    .back{
        a{
            text-decoration: none !important;
        }
    }
    .dollar{
        font-size: 20px;
    }
    .vl {
        border-left: 1px solid grey;
        height: 80px;
      }
      .btn:hover{
        background-color: transparent !important;
        color: #0DCAF0 !important;

      }
}




// #####################################################
body{
    background-color: #0b1426FF !important;
    color: white !important;;
}


@media screen and (max-width: 768px){
    .sidebar{
        .sidebarcolomn{
            display: none !important;
        }
    }
    
    
}